.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 10rem 1em;
    background: #f5f8f7;
}
.product-head {
    text-align: center;
    color: #0b9a86;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-head p{
    background: #0b9a8725;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    border: 1.2px solid #0b9a86;
}
.product-h {
    font-family: "Space Grotesk";
}
.product-p {
    font-family: "poppins";
    opacity: 0.8;
}
.main-product {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 1em;
}
@media(max-width: 915px){
    .main-product{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 550px){
    .main-product{
        grid-template-columns: repeat(1, 1fr);
    }
}
.product-card {
    max-width: 500px;
    /* min-height: 250px; */
    border: 1px solid #f5f8f7;
    background: #ffffff;
    box-shadow: 0px 8px 10px 15px rgba(255, 255, 255, 0.014);
    display: flex;
    transition: all 0.2s ease;
    flex-direction: column;
    /* gap: 10px; */
    text-align: start;
    min-height: 200px;
    border-radius: 15px;
    overflow: hidden;
}
.product-card:hover {
    box-shadow: 0px 8px 10px 15px #ffffff13;
    transform: translateY(-5px);
    /* position: static; */
    /* transform: rotate(-10deg); */
    /* background: red; */
}
.product-card img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}
.product-title {
    font-family: "Space Grotesk";
    margin: 0 0.5em;
    margin-bottom: 10px;
}
.product-description {
    font-family: "poppins";
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.5em;
    margin-bottom: 10px;
}
.price-and-order-button {
    display: flex;
    padding: 0 0.5em ;
    /* padding-bottom: 10px; */
    justify-content: space-between;
    font-family: "space grotesk";
    padding: 0.5em;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
}
.price-and-order-button h4 {
    color: #0b9a86;
    /* margin-bottom: 20px; */
}
.price-and-order-button a {
    color: black;
}